<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h1>Welcome to the Sales Prediction App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('prediction') }}" class="btn">Provide Expenditure Data</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about">
            <h2>About This App</h2>
            <p>
                This application allows users to upload their expenditure on various advertisement mediums such as TV, radio and newspaper 
                The system predicts the sales of the company based on the provided data.
        </section>


    </main>

    <footer>
        <p>&copy; 2024 Sales Prediction App. All rights reserved.</p>
    </footer>

</body>
</html>