option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: deployment.app:app   # Our app.py is located inside deployment/app.py

# If your app.py is in the root project directory write `WSGIPath: application:app`. 
# If this does not work write `WSGIPath: application:application` and change the name of your app.py to application.py